Repository kaze-k/bilibili-bangumi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, tsc, stylelint --fix

chore(tools): 修改配置
  cz-config.js
Due: none

chore: 修改命令
  package.json
Due: none

ci: 修改pnpm的版本
  .github/workflows/release.yml
Due: none

chore: 调整依赖
  package.json
  pnpm-lock.yaml
Due: none

refactor(components): 统一类型
  src/components/Rows/NoticeRow/AnimeRow.tsx
  src/components/Rows/NoticeRow/AutoCleanRow.tsx
  src/components/Rows/NoticeRow/GuoChuangRow.tsx
  src/components/Rows/NoticeRow/SlientRow.tsx
  src/components/Rows/ThemeRow/AutoThemeRow.tsx
Due: prettier --write, eslint --fix, tsc

update(components): 新增图片懒加载
  src/components/Card/Content.tsx
  src/components/Card/Image/components.tsx
  src/components/Card/Image/index.tsx
  src/components/Card/Image/style.module.scss
  src/components/Card/Image/types.ts
Due: prettier --write, eslint --fix, tsc, stylelint --fix

perf: 删减初始加载的动画
  src/Layout/Contents/HomeContent/LoadingMain.tsx
  src/Layout/Contents/HomeContent/WaitMain.tsx
  src/Layout/Contents/HomeContent/index.tsx
  src/Layout/Contents/HomeContent/style.module.scss
  src/Layout/Contents/UpdateContent/index.tsx
  src/Layout/Contents/UpdateContent/style.module.scss
  src/fontawesome.ts
  src/styles/theme/dark.scss
  src/styles/theme/light.scss
Due: prettier --write, eslint --fix, tsc, stylelint --fix

refactor(components): 删除多余的loading动画
  src/components/Loading/index.tsx
  src/components/Loading/style.module.scss
  src/components/Loading/types.ts
Due: prettier --write, eslint --fix, tsc, stylelint --fix

refactor(components): 使用HOC封装过渡动画组件
  src/components/Rows/NoticeRow/AnimeRow.tsx
  src/components/Rows/NoticeRow/AutoCleanRow.tsx
  src/components/Rows/NoticeRow/GuoChuangRow.tsx
  src/components/Rows/NoticeRow/SlientRow.tsx
  src/components/Rows/NoticeRow/index.tsx
  src/components/Rows/ThemeRow/AutoThemeRow.tsx
  src/components/Rows/ThemeRow/index.tsx
  src/components/Rows/components.tsx
  src/components/Rows/types.ts
  src/components/TypeSelector/index.tsx
  src/hocs/withTransition.tsx
Due: prettier --write, eslint --fix, tsc

refactor(components): 调整组件导入
  src/Layout/Headers/ChangelogHeader/index.tsx
  src/Layout/Headers/HomeHeader/index.tsx
  src/Layout/Headers/SettingHeader/index.tsx
  src/Layout/Headers/SetupHeader/index.tsx
  src/Layout/Headers/UpdateHeader/index.tsx
  src/components/Buttons/GoBackButton/index.tsx
  src/components/Buttons/index.ts
Due: prettier --write, eslint --fix, tsc

refactor(components): 重构消息组件的渲染代码
  src/components/Message/Messager.tsx
Due: prettier --write, eslint --fix, tsc

refactor(components): 调整pages组件的目录结构
  src/components/Pages/EmptyPage/index.tsx
  src/components/Pages/EmptyPage/style.module.scss
  src/components/Pages/EmptyPage/types.ts
  src/components/Pages/ErrorPage/index.tsx
  src/components/Pages/ErrorPage/style.module.scss
  src/components/Pages/ErrorPage/types.ts
  src/components/Pages/Page/index.tsx
  src/components/Pages/Page/types.ts
  src/components/Pages/index.ts
Due: prettier --write, eslint --fix, tsc, stylelint --fix

refactor(components): 重构contents代码
  src/Layout/Contents/HomeContent/ContentMain.tsx
  src/Layout/Contents/HomeContent/ErrorMain.tsx
  src/Layout/Contents/HomeContent/render.tsx
  src/Layout/Contents/HomeContent/style.module.scss
  src/Layout/Contents/HomeContent/types.ts
  src/Layout/Contents/UpdateContent/index.tsx
  src/Layout/Contents/UpdateContent/render.tsx
  src/Layout/Contents/UpdateContent/style.module.scss
  src/Layout/Contents/UpdateContent/transition.module.scss
  src/Layout/Contents/render.tsx
  src/Layout/Contents/style.module.scss
  src/Layout/Contents/transition.module.scss
  src/Layout/Contents/types.ts
Due: prettier --write, eslint --fix, tsc, stylelint --fix

refactor(components): 重构懒加载图片监听的代码
  src/components/Card/Image/index.tsx
Due: prettier --write, eslint --fix, tsc

chore(tools): 修改规范工具配置并修改代码
  .eslintrc
  src/components/Message/handler.ts
  src/hocs/withTransition.tsx
Due: prettier --write, eslint --fix, tsc

update(components): 卡片平滑上升动画
  src/Layout/Contents/render.tsx
  src/components/Animation/index.tsx
  src/components/Animation/types.ts
  src/hocs/withAnimation.tsx
Due: prettier --write, eslint --fix, tsc

refactor(components): 修改
  src/Layout/Contents/HomeContent/render.tsx
  src/Layout/Contents/UpdateContent/render.tsx
  src/Layout/Contents/UpdateContent/style.module.scss
  src/components/Message/handler.ts
  src/hocs/withTransition.tsx
Due: prettier --write, eslint --fix, tsc, stylelint --fix

refactor(components): 调整导入HOC
  src/components/Rows/NoticeRow/AutoCleanRow.tsx
  src/components/Rows/NoticeRow/index.tsx
  src/components/Rows/ThemeRow/AutoThemeRow.tsx
  src/components/Rows/ThemeRow/index.tsx
  src/components/TypeSelector/index.tsx
  src/hocs/index.ts
Due: prettier --write, eslint --fix, tsc

chore: 更新依赖
  pnpm-lock.yaml
Due: none

refactor: 添加异常捕获代码
  src/background/alarms.ts
  src/background/handles.ts
  src/background/index.ts
  src/background/messages.ts
  src/background/notifications.ts
  src/components/Buttons/ClearButton/index.tsx
  src/components/Buttons/RefreshButton/index.tsx
  src/components/Buttons/ResetButton/index.tsx
  src/components/Message/handler.ts
  src/store/features/data.ts
  src/utils/helper.ts
Due: prettier --write, eslint --fix, tsc

chore(tools): 允许useless-catch
  .eslintrc
Due: none

style(components): 修改组件UI样式
  src/Layout/Contents/render.tsx
  src/components/TypeSelector/components.tsx
  src/components/TypeSelector/style.module.scss
  src/styles/theme/dark.scss
  src/styles/theme/light.scss
Due: prettier --write, eslint --fix, tsc, stylelint --fix

test: 添加单元测试
  src/components/__tests__/base/Button/BlockButton.test.tsx
  src/components/__tests__/base/Button/RoundButton.test.tsx
  src/components/__tests__/base/IconFont/IconFont.test.tsx
  src/components/__tests__/base/Main/Main.test.tsx
  src/components/__tests__/base/Row/Row.test.tsx
  src/components/__tests__/base/Switch/Switch.test.tsx
  src/components/__tests__/base/View/View.test.tsx
  src/utils/transformer.ts
  test/utils/transformer.test.ts
Due: prettier --write, eslint --fix, tsc

chore(tools): 添加jest依赖和配置
  jest.config.ts
  package.json
  pnpm-lock.yaml
Due: none

chore(release): v0.3.2
  CHANGELOG.md
  CHANGELOGS.md
  package.json
Due: none

chore: 重建依赖
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/Layout/Contents/ChangelogContent/style.module.scss
  src/components/Card/Header.tsx
  src/pages/changelog/changelog.scss
  src/pages/options/options.scss
  src/pages/panel/panel.scss
  src/pages/popup/popup.scss
  src/styles/global/reset.scss
  webpack.config.ts
Due: prettier --write, eslint --fix, tsc, stylelint --fix

style: 修改lint规范
  .eslintrc
  src/background/alarms.ts
  src/background/handles.ts
  src/background/messages.ts
  src/background/notifications.ts
  src/components/Message/handler.ts
  src/hocs/withTransition.tsx
  src/store/features/data.ts
  src/utils/helper.ts
Due: prettier --write, eslint --fix, tsc

chore: 配置清除console
  config/webpack.base.ts
Due: none

perf: 优化部分逻辑
  src/components/Card/Image/index.tsx
  src/components/Card/style.module.scss
  src/components/Loading/types.ts
  src/components/base/Loading/index.tsx
  src/components/base/Loading/style.module.scss
  src/components/base/Loading/types.ts
  src/pages/changelog/App.tsx
  src/pages/options/App.tsx
  src/pages/panel/App.tsx
  src/pages/popup/App.tsx
  src/router/changelog/index.tsx
  src/router/options/index.tsx
  src/router/panel/index.tsx
  src/router/popup/index.tsx
  src/store/features/theme.ts
Due: prettier --write, eslint --fix, tsc, stylelint --fix

test: 添加loading组件测试用例
  src/components/__tests__/base/Loading/Loading.test.tsx
Due: prettier --write, eslint --fix, tsc

style: 调整图片懒加载loading样式
  src/components/Card/Image/index.tsx
  src/components/Card/Image/style.module.scss
  src/components/base/Loading/style.module.scss
  src/styles/theme/dark.scss
Due: prettier --write, eslint --fix, tsc, stylelint --fix

style: 调整样式
  src/components/Card/style.module.scss
  src/styles/global/reset.scss
Due: stylelint --fix

fix: 修复提醒失效问题
  src/background/alarms.ts
  src/background/index.ts
Due: prettier --write, eslint --fix, tsc

chore(release): v0.4.1
  CHANGELOG.md
  CHANGELOGS.md
  package.json
Due: none

chore: 更新github action配置
  .github/workflows/release.yml
Due: none

perf(background): 优化延迟更新判断
  src/background/alarms.ts
  src/background/notifications.ts
  src/background/types.ts
Due: prettier --write, eslint --fix, tsc

chore(release): v0.4.2
  CHANGELOG.md
  CHANGELOGS.md
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx}
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  tsc: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.scss
