Repository kaze-k/bilibili-bangumi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore(tools): 新增webpack插件
  package.json
  pnpm-lock.yaml
Due: none

chore(tools): 修改webpack配置
  config/webpack.base.ts
  webpack.config.ts
Due: none

chore(pubilc): 删除多余的icon
  public/icons/icon128.png
  public/icons/icon16.png
  public/icons/icon32.png
  public/icons/icon48.png
  public/icons/icon64.png
Due: none

style(样式): 格式化代码
  src/components/Buttons/NoticeButton/index.tsx
  src/service/index.ts
Due: prettier --write, eslint --fix

chore(tools): 添加类型提示
  src/bilibili-bangumi.d.ts
Due: prettier --write, eslint --fix

chore: 修改webpack配置
  webpack.config.ts
Due: none

chore: 更新工具版本
  package.json
  pnpm-lock.yaml
Due: none

docs: 更新文档
  README.md
Due: none

chore: 添加注释
  webpack.config.ts
Due: none

update(views): 新增设置页面底部版本号组件
  src/views/Setup/index.tsx
  src/views/Setup/version/index.tsx
  src/views/Setup/version/style.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

update(views): 新增设置选项提示
  src/views/Setup/Rows/ResetRow/index.tsx
  src/views/Setup/Rows/StorageRow/index.tsx
  src/views/Setup/Rows/ThemeRow/index.tsx
Due: prettier --write, eslint --fix

update: 0.2.0
  package.json
Due: none

chore(tools): 允许空构造函数
  .eslintrc
Due: none

update(background): 规范工具类
  src/background/alarms.ts
  src/background/handles.ts
  src/background/messages.ts
  src/background/notifications.ts
Due: prettier --write, eslint --fix

fix(components): 修复导航栏UI Bug
  src/components/common/NavItem/index.tsx
  src/components/common/NavItem/style.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

0.2.1
  package.json
Due: none

chore(tools): 添加changelog工具和升级工具版本
  package.json
  pnpm-lock.yaml
Due: none

chore(tools): 修改工具配置
  .editorconfig
  changelog.config.js
  config/webpack.base.ts
  config/webpack.prod.ts
  cz-config.js
  package.json
Due: none

style(background): 修改注释
  src/background/alarms.ts
  src/background/messages.ts
  src/background/notifications.ts
Due: prettier --write, eslint --fix

refactor(background): 重构部分代码
  src/background/handles.ts
Due: prettier --write, eslint --fix

chore: 更新日志
  CHANGELOG.md
  CHANGELOGS.md
  public/CHANGELOG.html
  src/background/index.ts
Due: prettier --write, eslint --fix

feat: 新增刷新按钮
  src/components/Buttons/RefreshButton/index.tsx
  src/fontawesome.ts
  src/views/Home/HomeHeader/index.tsx
Due: prettier --write, eslint --fix

refactor(components, views): 部分代码修改
  src/components/common/Button/index.tsx
  src/views/Home/Layout/components.tsx
  src/views/Home/NavBar/components.tsx
Due: prettier --write, eslint --fix

update(views): 调整页面显示
  src/views/Home/Layout/index.tsx
  src/views/Home/Layout/style.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

perf(views): 优化页面和避免重复请求数据
  src/views/Home/NavBar/index.tsx
  src/views/Home/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 重写刷新组件
  src/components/common/Refresh/index.tsx
  src/components/common/Refresh/style.module.scss
  src/store/features/data.ts
  src/store/store.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

update(popup): 弹出页面宽度增加
  src/popup/popup.scss
Due: stylelint --fix

chore: 更新依赖
  pnpm-lock.yaml
Due: none

chore(tools): commit工具配置
  cz-config.js
Due: none

chore(release): v0.2.2
  package.json
Due: none

chore(tools): changelog工具配置
  changelog.config.js
  package.json
Due: none

docs(changelog): 更新日志
  CHANGELOG.md
  CHANGELOGS.md
Due: none

ci: 配置github action自动打包
  .github/workflows/release.yml
Due: none

ci(tools): 打包zip文件路径修改
  .github/workflows/release.yml
  webpack.config.ts
Due: none

revert(action): github action自动打包配置
  .github/workflows/release.yml
Due: none

ci: ci配置
  .github/workflows/release.yml
Due: none

update(components): 调整加载失败时的图标
  src/components/common/Disconnection/index.tsx
  src/components/common/Disconnection/style.module.scss
  src/fontawesome.ts
  src/views/Home/HomeHeader/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(background): 更新数据通信部分的代码重构
  src/background/index.ts
  src/store/features/data.ts
  src/store/store.d.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx}
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.scss
