Repository kaze-k/bilibili-bangumi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "src/**/*.{js,jsx,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "src/**/*.scss": [
    "stylelint --fix"
  ]
}

chore(popup): 文件重命名
  src/popup/Popup.tsx
  src/popup/index.tsx
Due: prettier --write, eslint --fix

update: 实现动态监听系统主题变化和恢复网络自动更新数据
  src/popup/Global.tsx
  src/popup/Popup.tsx
  src/store/features/theme.ts
  src/store/store.d.ts
Due: prettier --write, eslint --fix

feat(components): 新增消息组件
  src/components/common/Message/Message.tsx
  src/components/common/Message/MessageProvider.tsx
  src/components/common/Message/index.ts
  src/components/common/Message/style.module.scss
  src/components/common/Message/types.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

update(views): 新增消息提示
  src/components/Buttons/ClearButton/index.tsx
  src/components/Buttons/ResetButton/index.tsx
  src/popup/Global.tsx
  src/popup/Popup.tsx
  src/views/Home/Layout/index.tsx
  src/views/Home/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 重构刷新按钮组件
  src/components/Buttons/RefreshButton/index.tsx
Due: prettier --write, eslint --fix

chore(components): 删除刷新组件(由消息组件替代)
  src/components/common/Refresh/index.tsx
  src/components/common/Refresh/style.module.scss
  src/components/common/Refresh/types.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(components): 删除多余的类型文件和重写部分注释
  src/components/common/Tag/index.tsx
  src/components/common/Tag/types.d.ts
  src/components/common/Time/index.tsx
  src/components/common/Time/types.d.ts
Due: prettier --write, eslint --fix

fix(components): 修复点击事件报错
  src/components/Buttons/RefreshButton/index.tsx
Due: prettier --write, eslint --fix

chore: import React
  src/components/Buttons/ClearButton/index.tsx
  src/components/Buttons/GobackButton/index.tsx
  src/components/Buttons/NoticeButton/index.tsx
  src/components/Buttons/RefreshButton/index.tsx
  src/components/Buttons/ResetButton/index.tsx
  src/components/Buttons/SetupButton/index.tsx
  src/components/Buttons/SwitchThemeButton/index.tsx
  src/components/common/Button/index.tsx
  src/components/common/Card/index.tsx
  src/components/common/Disconnection/index.tsx
  src/components/common/Episode/index.tsx
  src/components/common/ErrorPage/index.tsx
  src/components/common/Image/index.tsx
  src/components/common/Info/index.tsx
  src/components/common/Loading/index.tsx
  src/components/common/Message/Message.tsx
  src/components/common/Message/index.ts
  src/components/common/NavItem/index.tsx
  src/components/common/Rating/index.tsx
  src/components/common/Row/index.tsx
  src/components/common/Stat/index.tsx
  src/components/common/Switch/index.tsx
  src/components/common/Tag/index.tsx
  src/components/common/Time/index.tsx
  src/popup/Global.tsx
  src/popup/Popup.tsx
  src/routes/index.ts
  src/views/Home/HomeHeader/Search/index.tsx
  src/views/Home/HomeHeader/index.tsx
  src/views/Home/Layout/components.tsx
  src/views/Home/NavBar/components.tsx
  src/views/Home/NavBar/index.tsx
  src/views/Home/index.tsx
  src/views/Setup/Rows/NoticeRow/index.tsx
  src/views/Setup/Rows/ResetRow/index.tsx
  src/views/Setup/Rows/StorageRow/index.tsx
  src/views/Setup/Rows/ThemeRow/index.tsx
  src/views/Setup/SetupHeader/index.tsx
  src/views/Setup/Version/index.tsx
  src/views/Setup/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 取消message的使用
  src/components/Buttons/ClearButton/index.tsx
  src/components/Buttons/ResetButton/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 重构消息组件
  src/components/common/Message/Message.tsx
  src/components/common/Message/types.d.ts
Due: prettier --write, eslint --fix

chore(components): 重新添加刷新组件
  src/components/common/Refresh/index.tsx
  src/components/common/Refresh/style.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor(views): 部分代码重构
  src/popup/Global.tsx
  src/views/Home/index.tsx
  src/views/Setup/index.tsx
Due: prettier --write, eslint --fix

refactor(views): 部分代码重构
  src/components/common/Refresh/index.tsx
  src/popup/Global.tsx
  src/views/Home/index.tsx
  src/views/Setup/index.tsx
Due: prettier --write, eslint --fix

chore(tools): 修改规范工具配置
  .eslintrc
  .stylelintrc
  changelog.config.js
  commitlint.config.ts
  cz-config.js
Due: none

chore: 升级依赖
  package.json
  pnpm-lock.yaml
Due: none

chore(background): 修改注释
  src/background/alarms.ts
  src/background/handles.ts
  src/background/messages.ts
  src/background/notifications.ts
Due: prettier --write, eslint --fix

feat(components): 新增消息提示组件
  src/components/common/Message/Message.tsx
  src/components/common/Message/MessageContext.ts
  src/components/common/Message/MessageProvider.tsx
  src/components/common/Message/Messager.tsx
  src/components/common/Message/components.tsx
  src/components/common/Message/handler.ts
  src/components/common/Message/index.ts
  src/components/common/Message/store.ts
  src/components/common/Message/style.module.scss
  src/components/common/Message/types.d.ts
  src/components/common/Message/useMessageStore.ts
  src/fontawesome.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(store): 修改部分变量名称
  src/store/features/data.ts
  src/store/features/episodeStyle.ts
  src/store/features/notice.ts
  src/store/features/theme.ts
  src/store/store.d.ts
Due: prettier --write, eslint --fix

refactor(components): 重构按钮组件
  src/components/common/Button/index.tsx
  src/components/common/Button/style.module.scss
  src/components/common/Button/types.d.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor(components): 重构按钮部分逻辑
  src/components/Buttons/GobackButton/index.tsx
  src/components/Buttons/NoticeButton/index.tsx
  src/components/Buttons/RefreshButton/index.tsx
  src/components/Buttons/ResetButton/index.tsx
  src/components/Buttons/SetupButton/index.tsx
Due: prettier --write, eslint --fix

refactor(*): 提取复用hook代码逻辑
  src/components/Buttons/ClearButton/index.tsx
  src/hooks/useGetStorageInUse.ts
  src/views/Setup/Rows/StorageRow/index.tsx
Due: prettier --write, eslint --fix

refactor(popup): 使用全局message组件配置
  src/popup/Global.tsx
  src/popup/Popup.tsx
Due: prettier --write, eslint --fix

refactor(views): 部分页面重构
  src/views/Home/Layout/style.module.scss
  src/views/Home/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(views): 页面部分状态变量修改
  src/views/Home/HomeHeader/Select/index.tsx
  src/views/Home/Layout/index.tsx
  src/views/Home/NavBar/index.tsx
  src/views/Setup/Rows/NoticeRow/index.tsx
Due: prettier --write, eslint --fix

chore: 重命名manifest配置文件
  config/webpack.base.ts
  manifest.config.js
Due: none

refactor(store): 导出获取state初始值的方法
  src/store/features/data.ts
  src/store/features/episodeStyle.ts
  src/store/features/notice.ts
  src/store/features/storage.ts
  src/store/features/theme.ts
Due: prettier --write, eslint --fix

refactor(components): 提取判断初始设置的hook逻辑
  src/components/Buttons/ResetButton/index.tsx
  src/hooks/useIsInitialConfigStore.ts
Due: prettier --write, eslint --fix

refactor: 补充变量类型
  src/components/Buttons/ClearButton/index.tsx
  src/components/Buttons/GobackButton/index.tsx
  src/components/Buttons/SetupButton/index.tsx
  src/popup/Global.tsx
  src/views/Home/index.tsx
Due: prettier --write, eslint --fix

refactor(*): 重构获取已使用存储的hook方法
  src/components/Buttons/ClearButton/index.tsx
  src/hooks/useGetStorageInUse.ts
  src/views/Setup/Rows/StorageRow/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 微微修改暗色模式下的样式
  src/components/common/Message/components.tsx
Due: prettier --write, eslint --fix

refactor(components): 删除刷新组件由message组件代替
  src/components/common/Refresh/index.tsx
  src/components/common/Refresh/style.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

chore(release): 0.2.3
  CHANGELOG.md
  CHANGELOGS.md
  package.json
Due: none

refactor(*): 补充变量类型
  src/components/common/Message/useMessageStore.ts
  src/views/Home/HomeHeader/Select/index.tsx
  src/views/Home/Layout/index.tsx
Due: prettier --write, eslint --fix

chore: 增加依赖react-transition-group
  package.json
  pnpm-lock.yaml
Due: none

perf(components): 消息组件增加过渡动画
  src/components/common/Message/MessageProvider.tsx
  src/components/common/Message/Messager.tsx
  src/components/common/Message/transition.module.scss
  src/components/common/Message/useMessageStore.ts
Due: prettier --write, eslint --fix, stylelint --fix

fix(views): 修复存储大小显示错误
  src/hooks/useGetStorageInUse.ts
  src/views/Setup/Rows/StorageRow/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 导入和使用公共按钮组件修改
  src/components/Buttons/ClearButton/index.tsx
  src/components/Buttons/GobackButton/index.tsx
  src/components/Buttons/NoticeButton/index.tsx
  src/components/Buttons/RefreshButton/index.tsx
  src/components/Buttons/SetupButton/index.tsx
  src/components/Buttons/SwitchThemeButton/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 重构reset按钮
  src/components/Buttons/ResetButton/index.tsx
Due: prettier --write, eslint --fix
