Repository kaze-k/bilibili-bangumi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

update: 更新重置按钮UI样式
  src/components/Buttons/ResetButton/index.tsx
  src/views/Setup/Rows/ResetRow/index.tsx
  src/views/Setup/Rows/ResetRow/style.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 更改方法名
  src/components/Buttons/ResetButton/index.tsx
  src/hooks/useIsInitialConfigStore.ts
Due: prettier --write, eslint --fix

refactor(components): 删除多余代码
  src/components/Buttons/ResetButton/index.tsx
Due: prettier --write, eslint --fix

fix(store): 修复缓存变更问题
  src/store/index.ts
  src/store/migrations.ts
Due: prettier --write, eslint --fix

chore(release): v0.2.4
  CHANGELOG.md
  CHANGELOGS.md
  package.json
Due: none

chore(tools): 代码规范工具配置
  .eslintrc
  .lintstagedrc
  .stylelintrc
Due: none

chore: 更新依赖和新增依赖
  package.json
  pnpm-lock.yaml
Due: none

update(pubilc): 变更部分公共资源
  public/options.html
  public/panel.html
  public/popup.html
  src/assets/images/unfound.jpg
Due: none

style(pubilc): 格式化html
  public/CHANGELOG.html
  public/options.html
  public/panel.html
  public/popup.html
Due: none

refactor(service): axios重构服务api
  src/api/bilibili/getInfo.ts
  src/api/bilibili/getTimeline.ts
  src/api/bilibili/index.ts
  src/service/api/getInfo.ts
  src/service/api/getTimeline.ts
  src/service/bilibili.ts
  src/service/index.ts
  src/service/service.d.ts
Due: prettier --write, eslint --fix

chore(tools): 修改配置
  .lintstagedrc
Due: none

refactor(background): 代码重构
  src/background/alarms.ts
  src/background/enums.ts
  src/background/handles.ts
  src/background/index.ts
  src/background/notifications.ts
  src/background/types.ts
Due: prettier --write, eslint --fix

feat: 实现插件多页面状态实时共享
  src/background/messages.ts
  src/hooks/useSyncStates.ts
Due: prettier --write, eslint --fix

refactor(store): 代码重构
  src/store/enums.ts
  src/store/features/data.ts
  src/store/features/episode.ts
  src/store/features/notice.ts
  src/store/features/storage.ts
  src/store/features/theme.ts
  src/store/index.ts
  src/store/migrations.ts
  src/store/rootReducer.ts
  src/store/store.d.ts
  src/store/types.ts
Due: prettier --write, eslint --fix

refactor(utils): 代码重构
  src/utils/enums.ts
  src/utils/helper.ts
  src/utils/index.ts
  src/utils/transformer.ts
  src/utils/utils.d.ts
Due: prettier --write, eslint --fix

refactor(views): 重构页面样式, 分割主题色代码
  src/styles/common/_animations.scss
  src/styles/common/_colors.scss
  src/styles/common/_mixins.scss
  src/styles/global/reset.scss
  src/styles/theme/dark.scss
  src/styles/theme/light.scss
  src/styles/theme/markdown-dark.scss
  src/styles/theme/markdown-light.scss
Due: stylelint --fix

refactor(views): 简化页面组件代码
  src/views/Home/index.tsx
  src/views/Setup/index.tsx
Due: prettier --write, eslint --fix

refactor: 简化类型声明
  src/bilibili-bangumi.d.ts
Due: prettier --write, eslint --fix

update: 新增图标
  src/fontawesome.ts
Due: prettier --write, eslint --fix

refactor(routes): 重构路由组件
  src/router/changelog/index.tsx
  src/router/changelog/routes.ts
  src/router/index.tsx
  src/router/options/index.tsx
  src/router/options/routes.ts
  src/router/panel/index.tsx
  src/router/panel/routes.ts
  src/router/popup/index.tsx
  src/router/popup/routes.ts
  src/router/popup/transition.module.scss
  src/router/popup/types.ts
  src/router/transition.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 重构多页面的入口代码
  src/pages/changelog/App.tsx
  src/pages/changelog/changelog.scss
  src/pages/changelog/changelog.tsx
  src/pages/changelog/index.tsx
  src/pages/options/App.tsx
  src/pages/options/Options.tsx
  src/pages/options/index.tsx
  src/pages/options/options.scss
  src/pages/panel/App.tsx
  src/pages/panel/Panel.tsx
  src/pages/panel/index.tsx
  src/pages/panel/panel.scss
  src/pages/popup/App.tsx
  src/pages/popup/Popup.tsx
  src/pages/popup/index.tsx
  src/pages/popup/popup.scss
  src/popup/Global.tsx
  src/popup/index.tsx
  src/popup/popup.scss
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 代码重构
  src/hooks/index.ts
  src/hooks/useFetchData.ts
  src/hooks/useGetEpisodes.ts
  src/hooks/useGetStorageInUse.ts
  src/hooks/useIsInitialConfigStore.ts
  src/hooks/useIsInitialState.ts
  src/hooks/useOfflineStatus.ts
  src/hooks/useOnlineStatus.ts
  src/hooks/useTheme.ts
Due: prettier --write, eslint --fix

feat: 新增panel边栏显示当天番剧功能
  src/Layout/Contents/UpdateContent/index.tsx
  src/Layout/Contents/UpdateContent/render.tsx
  src/Layout/Contents/UpdateContent/style.module.scss
  src/Layout/Contents/UpdateContent/transition.module.scss
  src/Layout/Contents/UpdateContent/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

build: webpack构建配置
  config/webpack.base.ts
  manifest.config.js
  manifest.firefox.config.js
  tsconfig.json
  webpack.config.ts
Due: none

chore(tools): 修改配置
  cz-config.js
Due: none

chore(release): v0.3.0
  CHANGELOG.md
  CHANGELOGS.md
  package.json
Due: none

fix(components): 修复点击事件可能无法生效bug
  src/components/SelectBar/index.tsx
Due: prettier --write, eslint --fix

refactor(components): 简化逻辑
  src/components/SelectBar/SelectItem.tsx
  src/components/SelectBar/index.tsx
  src/components/SelectBar/types.ts
Due: prettier --write, eslint --fix

perf(popup): 调整页面过渡动画
  src/router/popup/index.tsx
  src/router/popup/transition.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

build(tools): manifest增加tabs权限
  manifest.config.js
Due: none

perf(components): 优化搜索框搜索
  src/components/Search/index.tsx
Due: prettier --write, eslint --fix

fix(components): 修复图片地址为空字符串时无法显示问题
  src/components/Card/Image/index.tsx
Due: prettier --write, eslint --fix

perf(background): 优化通知延迟问题
  src/background/alarms.ts
Due: prettier --write, eslint --fix

perf(router): 优化路由过渡动画
  src/router/popup/index.tsx
  src/router/popup/transition.module.scss
Due: prettier --write, eslint --fix, stylelint --fix

update(pages,base component): 修改样式
  src/components/base/View/style.module.scss
  src/pages/changelog/changelog.scss
  src/pages/options/options.scss
  src/pages/panel/panel.scss
  src/pages/popup/popup.scss
Due: stylelint --fix

chore(release): v0.3.1
  CHANGELOG.md
  CHANGELOGS.md
  package.json
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,jsx,ts,tsx}
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  stylelint --fix: any of: src/**/*.scss
